<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nou.hello.boot.spring5boot.mybatis.GalleryMapper">

    <!-- view result -->
    <resultMap id="ga" type="GalAttach">
        <result column="gname" property="gname" />
        <result column="gsize" property="gsize" />
    </resultMap>

    <resultMap id="gga" type="Gallery">
        <result column="gno" property="gno" />
        <result column="title" property="title" />
        <result column="userid" property="userid" />
        <result column="regdate" property="regdate" />
        <result column="thumbs" property="thumbs" />
        <result column="views" property="views" />
        <result column="contents" property="contents" />
        <result column="ipaddr" property="ipaddr" />
        <collection property="ga" resultMap="ga" />
    </resultMap>

    <insert id="insertGallery" parameterType="Gallery">
        insert into pds (title, userid, contents, ipaddr)
        values (#{title}, #{userid}, #{contents}, #{ipaddr})
    </insert>

    <insert id="insertGalAttach" parameterType="GalAttach">
        insert into galattach (gno, fname, fsize)
        values (#{gno}, #{fname}, #{fsize})
    </insert>

    <select id="selectGallery" resultType="Gallery">
        select gno, title, userid, regdate, thumbs, views from gallery
        order by gno desc limit #{stnum}, 25
    </select>

    <select id="selectOneGallery" resultMap="gga">
        select * from gga where gno = #{gno}
    </select>

    <select id="countGallery">
        select ceil(count(pno) / 25) cntpg from gallery
    </select>

    <update id="viewsUp">
        update pds set views=views+1 where pno=${pno}
    </update>

</mapper>