<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/template}">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/project.css"/>
</head>
<th:block layout:fragment="content" th:with="isLogined=${(#strings.isEmpty(session.member)) ? false : true}">
        <div id="main">
            <div>
                <i class="fa-solid fa-download fa-2xl mt-5"> 자료실</i>
                <hr>
            </div>

            <div class="row mt-5 mb-3">
                <div class="row col-5 offset-1">
                    <button type="button" class="btn btn-light col-3"><i class="fa-solid fa-chevron-left"></i> 이전 게시글</button>
                    &nbsp;
                    <button type="button" class="btn btn-light col-3">다음 게시글 <i class="fa-solid fa-chevron-right"></i></button>
                </div>
                <div class="col-5 text-end">
                    <button id="newpdsbtn" type="button" class="btn btn-light col-3"><i class="fa-solid fa-pencil"></i> 글쓰기</button>
                </div>
            </div> <!-- 이전, 다음 페이지 및 글쓰기-->

            <div class="row col-10 offset-1">
                <table>
                    <tr><th class="vtit" colspan="2" th:text="${view.title}">제목</th></tr>
                    <tr class="vinfo"><td th:text="${view.userid}">글쓴이</td>
                        <td class="text-end" th:text="|${view.regdate} / ${view.thumbs} / ${view.views}|">작성일/추천/조회</td>
                    </tr>
                    <tr><td class="vcont" colspan="2" th:text="${view.contents}">본문보기</td></tr>
                    <input type="hidden" id="remove" th:value="${view.pno}">

                    <tr>
                        <td class="vinfo" colspan="2">
                            <a th:href="|/pds/down/${view.pno}|" th:text="${view.pa.fname}">파일명</a>
                            <span th:text="|${view.pa.fsize} KB / ${view.pa.fdown} 회 다운로드|">정보</span>
                        </td>
                    </tr>
                </table>
            </div> <!-- 본문보기 -->


            <div class="row mt-3 mb-5">
                <div class="row col-5 offset-1">
                    <button id="modpdsbtn" type="button" class="btn btn-warning col-3"><i class="fa-solid fa-question"></i> 수정하기</button>
                    &nbsp;
                    <button id="rmvpdsbtn" type="button" class="btn btn-danger col-3"><i class="fa-solid fa-x"></i> 삭제하기</button>
                </div>
                <div class="col-5 text-end">
                    <button id="lstpdsbtn" type="button" class="btn btn-light col-3"><i class="fa-solid fa-list-ul"></i> 목록으로</button>
                </div>
            </div> <!-- 수정, 삭제하기 및 목록으로-->

            <div class="my-5">
                <i class="fa-solid fa-comments fa-2xl"> 나도 한 마디</i>
            </div>

            <div class="row offset-1 col-10">
                <table class="table tbborder">
                    <th:block th:each="pc : ${pcs}">
                        <th:block th:if="${pc.cno eq pc.ref}">
                            <tr>
                                <td style="width: 25%"><h4 th:text="${pc.userid}">nou</h4></td>
                                <td>
                                    <div class="cmtbg">[[${pc.regdate}]]
                                        <span style="float: right">
                                            <a th:href="|javascript:showReply(${pc.cno})|">[추가]</a> [수정] [삭제]</span>
                                    </div>
                                    <p class="py-3" th:text="${pc.comments}">오전 11시 37분, 비가 오고 있습니다.</p>
                                </td>
                            </tr> <!-- 댓글 cno=ref -->
                        </th:block>

                        <th:block th:if="${pc.cno ne pc.ref}">
                            <tr>
                                <td style="width: 25%"><h4>&nbsp;</h4></td>
                                <td>
                                    <div class="rpybg">[[${pc.userid}]]
                                        <span style="float: right" th:text="${pc.regdate}">2023-07-18 11:38:01</span>
                                    </div>
                                    <p class="py-3" th:text="${pc.comments}">오전 11시 41분, 비가 오고 있습니까?</p>
                                </td>
                            </tr> <!-- 대댓글 cno!=ref -->
                        </th:block>
                    </th:block>
                </table>
            </div> <!-- 댓글 목록 -->

            <div class="row offset-1 col-10 my-3">
                <form name="cmtfrm" id="cmtfrm" class="bg-light p-3">
                    <div class="row align-items-center">
                        <label class="col-2 form-label text-end" th:text="${(isLogined) ? session.member.userid : '로그인 하세요!'}">로그인 하세요!</label>
                        <div class="col-8"><textarea id="comments" name="comments" rows="7" class="form-control"></textarea></div>
                        <div class="col-2">
                            <button type="button" class="btn btn-secondary" id="newcmtbtn">
                                <i class="fa-solid fa-commenting"> 댓글 쓰기</i></button>
                        </div>
                    </div>
                    <input type="hidden" name="userid" id="userid" th:value="${(isLogined) ? session.member.userid : 'abc123'}">
                    <input type="hidden" name="pno" id="pno" th:value="${view.pno}">
                </form>
            </div> <!-- 댓글 쓰기 -->
        </div>

        <div class="modal hide" id="replyModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">대댓글 쓰기</h3>
                    </div>
                    <div class="modal-body">
                        <form id="replyfrm" class="well form-inline">
                            <textarea name="comments" id="reply" rows="8" cols="60" class="span4"></textarea>
                            <input type="hidden" name="userid" th:value="${(isLogined) ? session.member.userid : 'abc123'}">
                            <input type="hidden" name="pno" th:value="${view.pno}">
                            <input type="hidden" name="ref" id="ref">
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" id="replybtn" class="btn btn-danger">대댓글 작성</button>
                    </div>
                </div>
            </div>
        </div> <!-- 대댓글 입력 -->


    <script src="/assets/js/pds.js" charset="utf-8"></script>
    </th:block>
</html>