<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col"><h1 id="logo">Lorem Ipsum</h1></div>
            <div class="col text-end">
                <button type="button" class="btn btn-danger">로그인</button>
                <button type="button" class="btn btn-primary">회원가입</button>
            </div>
        </header>

        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item"><a href="/intro" class="nav-link">프로젝트 소개</a></li>
                <li class="nav-item"><a href="/join/agree" class="nav-link">회원가입</a></li>
                <li class="nav-item"><a href="/board/list?cpg=1" class="nav-link">게시판</a></li>
                <li class="nav-item"><a href="/pds/list?cpg=1" class="nav-link">자료실</a></li>
                <li class="nav-item"><a href="/gallery/list?cpg=1" class="nav-link">갤러리</a></li>
                <li class="nav-item"><a href="/admin" class="nav-link">관리자</a></li>
            </ul>
        </nav>

        <div id="main">
            <div class="row">
                <div class="col-12"><h1 class="display-1 text-center p-3">超機密 PROJECT 補完計劃</h1></div>
                <div class="col-8 offset-2"><img src="/assets/img/smile.png"></div>
            </div> <!-- title -->
            <div class="row">
                <div class="col-8 offset-2 text-center p-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id facilisis velit. Suspendisse venenatis interdum blandit. Nam fermentum condimentum ante, at tempor mi fermentum non. Fusce vitae elit efficitur, eleifend nisi a, tristique velit. Suspendisse potenti. Etiam vel neque sit amet lorem varius viverra eget sed nisl. In cursus metus a dolor tincidunt, sed ornare augue eleifend. Praesent sagittis odio eget risus sodales ultrices. Nam sagittis augue a fringilla ultrices. Vestibulum et congue odio, eget pretium felis. Pellentesque a diam id nulla feugiat commodo. Nunc vel consequat arcu.</p>
                    <div><button type="button" class="btn btn-success">지금 바로 시작하기</button></div>
                </div>
            </div> <!-- hero -->
            <div class="row"></div> <!-- article -->
        </div>

        <footer>
            <h6 class="col text-end bg-dark bg-opacity-10 p-3">
                Copyright &copy; Lorem Ipsum 2023. nou. All right Reserved. Created by Bootstrap 5.2.3
            </h6>
        </footer>
    </div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>