<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col"><h1 id="logo">Lorem Ipsum</h1></div>
            <div class="col text-end">
                <button type="button" class="btn btn-danger mt-2" data-bs-target="#loginfrm" data-bs-toggle="modal">로그인</button>
                <button type="button" class="btn btn-primary mt-2">회원가입</button>
            </div>
        </header>

        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item"><a href="/intro" class="nav-link">프로젝트 소개</a></li>
                <li class="nav-item"><a href="/join/agree" class="nav-link">회원가입</a></li>
                <li class="nav-item"><a href="/board/list?cpg=1" class="nav-link">게시판</a></li>
                <li class="nav-item"><a href="/pds/list?cpg=1" class="nav-link">자료실</a></li>
                <li class="nav-item"><a href="/gallery/list?cpg=1" class="nav-link">갤러리</a></li>
                <li class="nav-item"><a href="/admin" class="nav-link">관리자</a></li>
            </ul>
        </nav>

        <div id="main">
            <div class="row">
                <div class="col-12"><h1 class="display-1 text-center p-3">超機密 PROJECT 補完計劃</h1></div>
                <div class="col-8 offset-2"><img src="/assets/img/smile.png"></div>
            </div> <!-- title -->
            <div class="row">
                <div class="col-8 offset-2 text-center p-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id facilisis velit. Suspendisse venenatis interdum blandit. Nam fermentum condimentum ante, at tempor mi fermentum non. Fusce vitae elit efficitur, eleifend nisi a, tristique velit. Suspendisse potenti. Etiam vel neque sit amet lorem varius viverra eget sed nisl. In cursus metus a dolor tincidunt, sed ornare augue eleifend.</p>
                    <div><button type="button" class="btn btn-success">지금 바로 시작하기</button></div>
                </div>
            </div> <!-- hero -->
            <div class="row m-5">
                <div class="col-4 my-4">
                    <h2>極秘</h2>
                    <p>Nulla suscipit, metus eget fringilla sodales, leo nisi vehicula mi, in pellentesque arcu turpis non tellus. Vivamus semper mi in quam mollis sodales et gravida sem. Etiam odio nulla, luctus finibus ante nec, maximus volutpat enim. Duis consequat dui nec lacus luctus iaculis. Vestibulum dolor metus, rhoncus et suscipit sed, commodo sit amet neque. In consectetur convallis erat, eu tincidunt tortor. Nunc quis molestie nulla.</p>
                    <button type="button" class="btn btn-light">자세히 보기 &blacktriangleright;</button>
                </div>
                <div class="col-4 my-4">
                    <h2>誤謬</h2>
                    <p>Nam sodales felis eget molestie varius. Cras facilisis felis nec aliquam tincidunt. Suspendisse sit amet hendrerit turpis, accumsan mattis lorem. Vestibulum maximus vehicula consequat. Phasellus eleifend est eget cursus suscipit. Aliquam commodo dignissim dui, ut condimentum lorem vestibulum vel. Quisque ultricies tincidunt est. In euismod maximus eros, eget venenatis risus molestie vitae.</p>
                    <button type="button" class="btn btn-light">자세히 보기 &blacktriangleright;</button>
                </div>
                <div class="col-4 my-4">
                    <h2>警告</h2>
                    <p>Nulla tincidunt eget ipsum volutpat rutrum. Donec commodo laoreet elit, id luctus risus ornare dignissim. Suspendisse nec purus sit amet ipsum viverra tempor in et ante. Maecenas scelerisque placerat ultrices. Praesent sagittis odio eget risus sodales ultrices.</p>
                    <button type="button" class="btn btn-light">자세히 보기 &blacktriangleright;</button>
                </div>
                <div class="col-4 my-4">
                    <h2>危險</h2>
                    <p>Suspendisse sollicitudin malesuada massa, quis aliquet leo. Nam eu lacinia mauris. Sed porttitor sed urna eu dapibus. Praesent hendrerit, lorem eget efficitur fermentum, eros felis ultricies lacus, eget scelerisque arcu ante et libero. Suspendisse ut consectetur lectus. Curabitur vitae lacus varius leo vestibulum volutpat. Nam sit amet gravida augue.</p>
                    <button type="button" class="btn btn-light">자세히 보기 &blacktriangleright;</button>
                </div>
                <div class="col-4 my-4">
                    <h2>隔離</h2>
                    <p>Sed mattis eleifend massa, ut mollis justo interdum commodo. Quisque non sem ut ipsum finibus auctor. Praesent consectetur nulla a ex aliquam, a suscipit ex viverra. Nulla pretium risus nisl, et eleifend velit tincidunt non. Maecenas ut lectus a est convallis auctor eget euismod lectus. Donec et nibh quis dolor laoreet placerat nec eu nibh. Pellentesque vitae nisl sit amet quam accumsan fringilla vel sit amet nibh.</p>
                    <button type="button" class="btn btn-light">자세히 보기 &blacktriangleright;</button>
                </div>
                <div class="col-4 my-4">
                    <h2>制限</h2>
                    <p>Aenean semper tortor ac hendrerit finibus. Nullam ac commodo tellus. Phasellus dapibus interdum est sit amet varius. Curabitur fermentum, arcu ut viverra lacinia, ipsum lectus aliquet nulla, eget ultricies magna est nec ex. Donec cursus posuere purus, nec dapibus libero volutpat ut. Aliquam erat volutpat. Duis sit amet diam vehicula turpis fermentum lacinia sed in ipsum. Nunc volutpat eleifend turpis ut venenatis.</p>
                    <button type="button" class="btn btn-light">자세히 보기 &blacktriangleright;</button>
                </div>
            </div> <!-- article -->
        </div>

        <footer>
            <h6 class="col text-end bg-dark bg-opacity-10 p-3">
                Copyright &copy; Lorem Ipsum 2023. nou. All right Reserved. Created by Bootstrap 5.2.3
            </h6>
        </footer>
    </div>

    <!-- login-modal -->
    <div class="modal" id="loginfrm" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>로그인</h2>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
                </div> <!-- mdh -->
                <div class="modal-body"></div> <!-- mdb -->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" id="loginbtn">로그인</button>
                    <button type="button" class="btn btn-warning">아이디/비밀번호 찾기</button>
                </div> <!-- mdf -->
            </div> <!-- mdc -->
        </div> <!-- mdd -->
    </div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>